**

!Dockerfile
!.dockerignore
!LICENSE.txt
!go.mod
!go.sum

!cmd/
!cmd/**
!internal/
!internal/**
!webmanager/
!webmanager/**

webmanager/node_modules/
webmanager/dist/
webmanager/.angular/
internal/assets/browser/*
!internal/assets/browser/README.md
